doctype html
html
    head
        meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
        title JavaScript.ru
        style.
            .container { padding: 0 100px; }

    body.container
        h3 Подтверждение заказа
        p Ваш заказ успешно принят
        p Номер заказа #{id}
        p Вы заказали: #{product.title}

        footer
            p С уважением, learn.javascript.ru
